.pic {
    border: 3px solid #595959;
    border-radius: 3px;
}

.moviepic {
    max-width: 100%;
    object-fit: contain;
   border: 1px solid white;
   
}

.Media.Body {
    padding: 10px;
}

.resultButton {
    
    margin-bottom: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}
